html, body, .container {
  background-color: #d0edf1;
  width: 100%;
  height: 100%;
}

.landing {
  height: 100%;
}

.name {
  font-family: 'Sofia';
  font-size: 160px;
  text-align: center;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  color: #8e4c9e;
}

.nav {
  text-align: center;
  margin-top: 7%;
  color: #fff;
}

.nav a {
  padding-right: 25px;
  color: #bf223c;
  font-size: 30px;
  font-family: 'Pacifico';
}

.career {
  font-size: 40px;
  color: #398557;
  text-align: center;
  margin-top: 5%;
}

.about {
  height: 87%;
  width: 94%;
  background-color: #dbc1e1;
  padding: 3%;
}

.photo {
  width: 47%;
  float: left;
  background-color: #f9dce1;
  height: 98%;
  padding: 1%;
  border-radius: 2%;
}

.aboutcontent {
  width: 47%;
  float: right;
  background-color: #f9dce1;
  height: 98%;
  padding: 1%;
  border-radius: 2%;
}

.photo img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.abouttitle {
  font-size: 100px;
  text-align: center;
  font-family: 'Sofia';
  color: #8e4c9e;
  margin-top: 10%;
}

.photo .nav {
  margin-top: 20%;
}

.aboutcontent {
  font-family: 'Cardo';
  font-size: 18px;
}

.worktitle {
  font-size: 100px;
  text-align: center;
  font-family: 'Sofia';
  color: #8e4c9e;
  margin-top: 30%;
}

.work {
  height: 87%;
  width: 94%;
  background-color: #add2eb;
  padding: 3%;
}

.workleft {
  width: 47%;
  float: left;
  background-color: #ec93a2;
  height: 98%;
  padding: 1%;
  border-radius: 2%;
}

.workright {
  width: 47%;
  float: right;
  background-color: #ec93a2;
  height: 98%;
  padding: 1%;
  border-radius: 2%;
}

.workleft .nav {
  margin-top: 30%;
}

.contactstitle {
  font-size: 100px;
  text-align: center;
  font-family: 'Sofia';
  color: #8e4c9e;
  margin-top: 30%;
}

.contacts {
  height: 87%;
  width: 94%;
  background-color: #276d9b;
  padding: 3%;
}

.contactsleft {
  width: 47%;
  float: left;
  background-color: #d6e9f5;
  height: 98%;
  padding: 1%;
  border-radius: 2%;
}

.contactsright {
  width: 47%;
  float: right;
  background-color: #d6e9f5;
  height: 98%;
  padding: 1%;
  border-radius: 2%;
}

.contactsleft .nav {
  margin-top: 30%;
}

.contactsright {
  font-family: 'Cardo';
  font-size: 30px;
}

.contactsbottom {
margin-top: 20%;
}

.image img {
  width: 450px;
  height: 251px;
  float: left;
}

.image a {
  text-decoration: none;
  font-size: 32px;
  color: #bf223c;
  text-align: center;
  float: right;
  width: 200px;
  height: 59px;
  border: 4px solid #8e4c9e;
  font-family: 'Pacifico';
}

.linkdescription {
  clear: both;
  padding: 80px 30px;
  font-size: 25px;
}