body {
  background-color: #d0edf1;
  width: 100%
}

.name {
  font-family: 'Sofia';
  font-size: 200px;
  text-align: center;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  color: #8e4c9e;
}

.nav {
  text-align: center;
  margin-top: 7%;
  color: #fff;
}

.nav a {
  padding-right: 25px;
  color: #bf223c;
  font-size: 20px;
  font-family: 'Pacifico';
}